@import url("https://fonts.googleapis.com/css?family=Roboto");

$bg-color: #282c34;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: $bg-color;
  font-size: 1.3rem;

  @media screen and (max-width: 480px) {
    font-size: 1rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

img {
  animation: spin 5s linear infinite;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#title-wrapper {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  #title {
    color: #fff;
    text-align: center;
  }
}

#location-form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 400px;

  .form-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    input {
      width: 60%;
    }
  }
}
